body{
  background-color: #00001a;
  color: white;
}

.heading{
  margin-top:1%;
  text-align: center;
}

.imagediv{
  text-align: center;
  margin-top: 2%;
  margin-right: 2%;
}
.cast{
  margin-top: 2%;
}
h1{
  font-family: 'Roboto Slab';
  font-size: 3rem;
  font-weight: 100;

}
p{
  font-size:1.3rem;
}
div.clear{
  clear: both;
}
li{
  font-size:1.3rem;
}
