.whitebg{
  text-align: center;
}
.playerlist{
  font-size: 1.5rem;
}
.playerlistpara{
  font-size: 1.3rem;
}
.playerlistimage{
  margin-left: 2%;
  margin-bottom: 2%;
}
.newteamspara{
  margin-top: 1%;
  font-size: 1.3rem;
}
