body{
  overflow-x: hidden;
}

.logo{
  width: 25%;
  margin-left: 37%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 20px;

}
.firstsec{
  background-color: #FAEDF0;
}

.grid{
  overflow-y: scroll;
}

#features{
  text-align: center;
  background-color: #142F43;
}

.featurecol{
  margin-top: 4% ;
  margin-bottom: 4%;
}

.featurecol h3{
  font-family:"Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
  margin: 3% 0;
  color: #EEEBDD;
}

.featurecol p{
  color: #8f8f8f;
  padding: 0 19%;
}


.featuresicon{
  color: white;
}

.featuresicon:hover{
  color: #EBE645;
}

.featuresrow a{
  color: #ffffff;
  text-decoration: none;
}
.manual-carousel{
  background-color: #FAEDF0;
}
.manual-carousel-1{
  padding: 7% 15%;
  text-align: center;
}
.carousel-btnxt{
  background: #142F43;
}
.carousel-btnprev{
  color: #082032;
  background-color: #082032;


}

.footermanual{
  background: #EFEFEF;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.footermanual p{
  padding-top: 2%;
}
