body{
  background-color: black;
  color: white;
}

.container h3{
  text-align:center;
  font-family: 'Kreon',
  serif; font-weight:700;
}
.reviewcarda{
  text-decoration: none;
}
.reviewcarddiv{
  border-color:white;
  border-width:2.5px;
  margin-bottom:2%;
}
.reviewcardimg{
  margin-top:2%;
  margin-bottom:2%;
  width:150px
}


.fa-star{
  color: grey;
}
.checked{
  color: red;
}
.achecked{
  color: #B1D0E0;
}
